base_url: "https://www.arduino.cc"
file_name: "arduino-nightly-linux64.tar.xz"
location: "{{base_url}}/download.php?f=/{{file_name}}"
tmp_folder: "{{ ansible_env.HOME }}/.tmp"
tmp_location: "{{tmp_folder}}/{{file_name}}"
arduino_location: "{{tmp_folder}}/arduino-nightly"

keyboard_remote: "{{ github_base }}kallekrantz/ergodox-ez{{ github_postfix }}"
keyboard_path: "{{ own_code_path }}/ergodox-ez"


teensy_repo: "https://github.com/PaulStoffregen/teensy_loader_cli"
teensy_location: "{{ github_code_path }}/teensy_loader_cli"
teensy_bin: "{{ teensy_location }}/teensy_loader_cli"
teensy_install_location: "/usr/local/bin/teensy_loader_cli"
