- aur:
    name:
      - sway-git
      - wlroots-git
      - kanshi-git
      - grim-git
      - wofi-hg
      - persway
  become: True
  become_user: aur_builder

- name: "Ensure cache is updated"
  community.general.pacman:
    name:
      - waybar
      - dmenu
      - swayidle
      - mako
      - slurp
      - swayidle
      - swaylock
      - playerctl
  become: True
